<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear opción</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Opciones

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="options"
            :search="search"
          >
            <template v-slot:item.action="{ item }">
              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="450">
      <v-card>
        <v-card-title class="headline">Añadir nueva opción</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-textarea
                    v-model="addDialogOption.description"
                    append-icon="mdi-account-box-outline"
                    label="Descripción de la opción"
                    auto-grow
                    outlined
                    rows="3"
                    :rules=[rules.required]
                    row-height="25"
                    required
                  ></v-textarea>

                  <!-- Status -->
                    <v-select
                      :items="status"
                      v-model="addDialogOption.status"
                      label="Estado"
                      :rules=[rules.required]
                      required
                      outlined
                    ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateSave">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="450">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogOption.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-textarea
                    v-model="editDialogOption.description"
                    append-icon="mdi-account-box-outline"
                    label="Descripción de la opción"
                    auto-grow
                    outlined
                    :rules=[rules.required]
                    rows="3"
                    row-height="25"
                    required
                  ></v-textarea>

                  <!-- Status -->
                    <v-select
                      :items="status"
                      v-model="editDialogOption.status"
                      :rules=[rules.required]
                      label="Estado"
                      outlined
                    ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateEdit">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogOption.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogOption.name}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se efectos en {{ this.total }} evaluaciones. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteOption">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Descripción de la opción',
          value: 'description',
        },
        {
          text: 'Cantidad evaluaciones',
          value: 'evaluations.length',
        },
        {
          text: 'Estado',
          value: 'status',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      valid: true,
      rules: {
        required: value => !!value || 'Este campo es requerido.',
      },
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      options: [],
      addDialogOption: {},
      editDialogOption: {},
      deleteDialogOption: {},
      total: '',
      status: ['Activo', 'Inactivo'],
    };
  },
  created() {
    this.getOption();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogOption = this.options.find(option => option.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogOption = this.options.find(option => option.id === id);
      this.total = this.deleteDialogOption.evaluations.length;
    },
    getOption() {
      this.$http.get('/option')
        .then((res) => {
          this.options = res.data.options;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveOption() {
      this.$http.post('/option', this.addDialogOption)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Opción creado exitosamente.');
          this.displayAddDialog = false;
          this.addDialogOption = {};
          this.getOption();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateSave() {
      if (this.$refs.form.validate()) this.saveOption();
    },
    editOption() {
      this.$http.put(`/option/${this.editDialogOption.id}`, this.editDialogOption)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Opción editado exitosamente.');
          this.displayEditDialog = false;
          this.editDialogOption = {};
          this.getOption();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateEdit() {
      if (this.$refs.form.validate()) this.editOption();
    },
    deleteOption() {
      this.$http.delete(`/option/${this.deleteDialogOption.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Opción eliminado exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogOption = {};
          this.getOption();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
