<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear rol</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Roles

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="peopleTypes"
            :search="search"
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/people-type/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Añadir nuevo rol</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="addDialogPeopleType.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del rol"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs12>
                  <v-switch
                    v-model="addDialogPeopleType.isSupervisor"
                    label="¿Es supervisor?"
                  ></v-switch>
                </v-flex>

                <v-flex xs12>
                  <v-switch
                    v-model="addDialogPeopleType.isInternal"
                    label="¿Es interno?"
                  ></v-switch>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="saveNewRol">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Editar rol {{ this.editDialogPeopleType.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="editDialogPeopleType.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del rol"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs12>
                  <v-switch
                    v-model="editDialogPeopleType.isSupervisor"
                    label="¿Es supervisor?"
                  ></v-switch>
                </v-flex>

                <v-flex xs12>
                  <v-switch
                    v-model="editDialogPeopleType.isInternal"
                    label="¿Es interno?"
                  ></v-switch>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="editRol">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar rol de {{ this.deleteDialogPeopleType.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogPeopleType.name}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se eliminen {{ this.total }} personas. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteRol">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre del rol',
          value: 'name',
        },
        {
          text: 'Cantidad usuarios',
          value: 'peoples.length',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      peopleTypes: [],
      addDialogPeopleType: {},
      editDialogPeopleType: {},
      deleteDialogPeopleType: {},
      total: '',
    };
  },
  created() {
    this.getRoles();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogPeopleType = this.peopleTypes.find(peopleType => peopleType.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogPeopleType = this.peopleTypes.find(peopleType => peopleType.id === id);
      this.total = this.deleteDialogPeopleType.peoples.length;
    },
    getRoles() {
      this.$http.get('/people-types')
        .then((res) => {
          this.peopleTypes = res.data.peopletypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveNewRol() {
      this.$http.post('/people-types', this.addDialogPeopleType)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Rol creado exitosamente.');
          this.displayAddDialog = false;
          this.addDialogPeopleType = {};
          this.getRoles();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    editRol() {
      this.$http.put(`/people-types/${this.editDialogPeopleType.id}`, this.editDialogPeopleType)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Rol editado exitosamente.');
          this.displayEditDialog = false;
          this.editDialogPeopleType = {};
          this.getRoles();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deleteRol() {
      this.$http.delete(`/people-types/${this.deleteDialogPeopleType.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Rol eliminado exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogPeopleType = {};
          this.getRoles();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
