<template>
  <v-layout row wrap>
    <v-flex xs12 class="mx-3">
      <v-card v-if="peopleType">
        <v-card-title>
          {{this.peopleType.name}}

          <v-spacer></v-spacer>

          <div v-if="total === 0">0 personas registradas con este rol</div>
          <div v-else>{{ this.total }} personas registradas con este rol</div>

        </v-card-title>

        <v-divider></v-divider>
        <v-card-text v-if="total === 0">
          <v-alert
            dense
            outlined
            type="error"
          >
            No hay personas registradas con este rol.
          </v-alert>
        </v-card-text>
        <v-card-text v-else>

          <v-expansion-panels focusable>
            <v-expansion-panel
              v-for="people in peopleType.peoples"
              :key="people.id"
            >
              <v-expansion-panel-header>
                {{ people.first_name }} {{ people.last_name }}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-layout wrap row class="pt-3">
                  <v-flex xs12>
                    <v-expansion-panel-content>
                      <v-list two-line>
                        <!-- Email -->
                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-email</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Correo electrónico</v-list-item-title>
                            <v-list-item-subtitle>{{ people.email }}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <!-- Enterprise -->
                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-briefcase</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Empresa</v-list-item-title>
                            <v-list-item-subtitle>{{ people.enterprise.name }}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <!-- Phone -->
                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-cellphone-android</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Teléfono</v-list-item-title>
                            <v-list-item-subtitle>{{ people.phone }}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <!-- Address -->
                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-map-marker</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Dirección</v-list-item-title>
                            <v-list-item-subtitle>{{ people.address }}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-flex>
                </v-layout>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>

        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'people-type.list' }"
            color="info"
          >Ir al listado de roles</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      peopleType: {},
      total: null,
    };
  },
  created() {
    this.find();
  },
  methods: {
    find() {
      this.$http.get(`/people-types/${this.$route.params.id}`)
        .then((res) => {
          this.peopleType = res.data.peopleType;
          this.total = this.peopleType.peoples.length;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
