<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear distrito</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Distritos

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="districts"
            :search="search"
            multi-sort
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">Añadir nueva distrito</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>

                <v-flex xs12>
                  <v-autocomplete
                    v-model="currentDepartment"
                    label="Departamento"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="departments"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    @change="filterDepartment"
                    required
                    outlined
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-autocomplete
                    v-model="addDialogDistrict.province_id"
                    label="Provincias"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="filterProvince"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    required
                    outlined
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-text-field
                    :rules="[rules.required]"
                    v-model="addDialogDistrict.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del distrito"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Code -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    v-model="addDialogDistrict.code"
                    append-icon="mdi-account-box-outline"
                    label="Código"
                    :counter="2"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateSaveDistrict">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogDistrict.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>

                <v-flex xs12>
                  <v-autocomplete
                    v-model="currentDepartment"
                    label="Departamento"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="departments"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    @change="filterDepartment"
                    required
                    outlined
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-autocomplete
                    v-model="editDialogDistrict.province_id"
                    label="Provincia"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="filterProvince"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    required
                    outlined
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-text-field
                    v-model="editDialogDistrict.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del distrito"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Code -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    v-model="editDialogDistrict.code"
                    append-icon="mdi-account-box-outline"
                    :counter="2"
                    label="Código"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateEditDistrict">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogDistrict.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogDistrict.name}}?
        </v-card-text>
        <v-card-text>
          Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteDistrict">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Departamento',
          value: 'province.department.name',
        },
        {
          text: 'Departamento',
          value: 'province.name',
        },
        {
          text: 'Nombre del distrito',
          value: 'name',
        },
        {
          text: 'Código',
          value: 'code',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      provinces: [],
      departments: [],
      districts: [],
      addDialogDistrict: {},
      editDialogDistrict: {},
      deleteDialogDistrict: {},
      valid: true,
      currentDepartment: null,
      filteredProvince: [],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        charlength: value => value.length <= 2 || 'El código es de 2 caracteres.',
      },
    };
  },
  created() {
    this.getProvince();
    this.getDepartment();
    this.getDistrict();
  },
  computed: {
    filterProvince() {
      return this.provinces.filter(province => province.department_id === this.currentDepartment);
    },
  },
  methods: {
    filterDepartment() {
      return this.provinces.filter(province => province.department_id === this.currentDepartment);
    },
    toggleAddDialog() {
      this.displayAddDialog = true;
      this.currentDepartment = null;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogDistrict = this.districts.find(district => district.id === id);
      this.currentDepartment = this.editDialogDistrict.province.department_id;
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogDistrict = this.districts.find(district => district.id === id);
    },
    getProvince() {
      this.$http.get('/province')
        .then((res) => {
          this.provinces = res.data.provinces;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getDepartment() {
      this.$http.get('/department')
        .then((res) => {
          this.departments = res.data.departments;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getDistrict() {
      this.$http.get('/district')
        .then((res) => {
          this.districts = res.data.districts;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveDistrict() {
      this.$http.post('/district', this.addDialogDistrict)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Distrito creado exitosamente.');
          this.displayAddDialog = false;
          this.addDialogDistrict = {};
          this.getDistrict();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateSaveDistrict() {
      if (this.$refs.form.validate()) this.saveDistrict();
    },
    editDistrict() {
      this.$http.put(`/district/${this.editDialogDistrict.id}`, this.editDialogDistrict)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Distrito editado exitosamente.');
          this.displayEditDialog = false;
          this.editDialogDistrict = {};
          this.getDistrict();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateEditDistrict() {
      if (this.$refs.form.validate()) this.editDistrict();
    },
    deleteDistrict() {
      this.$http.delete(`/district/${this.deleteDialogDistrict.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Distrito eliminado exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogDistrict = {};
          this.getDistrict();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
