<template>
  <v-layout row wrap class="px-3">
    <v-flex xs12>
      <v-btn
        class="mb-3"
        @click="() => { $router.go(-1) }"
        color="info"
      >Regresar</v-btn>

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs12>
      <v-card>
        <v-card-title>Crear nueva empresa</v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex xs4>
                  <!-- Name -->
                  <v-text-field
                    v-model="enterprise.name"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre de la empresa"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-select
                    :items="origin"
                    :rules="[rules.required]"
                    v-model="enterprise.origin"
                    label="Procedencia"
                    outlined
                    required
                  ></v-select>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    v-model="enterprise.email"
                    append-icon="mdi-email-outline"
                    :rules="[rules.required, rules.email]"
                    label="Correo de la empresa"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs3>
                  <v-select
                    :items="docTypes"
                    :rules="[rules.required]"
                    v-model="enterprise.documentType"
                    label="Tipo de documento"
                    outlined
                    required
                  ></v-select>
                </v-flex>

                <v-flex xs3>
                   <!-- Address -->
                  <v-text-field
                    v-model="enterprise.ruc"
                    append-icon="mdi-account-card-details-outline"
                    :rules="[rules.required]"
                    label="RUC"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs 6>
                   <!-- Address -->
                  <v-text-field
                    v-model="enterprise.address"
                    append-icon="mdi-map-marker"
                    :rules="[rules.required]"
                    label="Dirección de la empresa"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

              </v-layout>

              <v-layout row wrap>

                <v-flex xs4>
                  <!-- Department -->
                  <v-autocomplete
                    v-model="currentDepartment"
                    label="Departamento"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="departments"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    @change="filterProvince"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs4>
                  <!-- Province -->
                  <v-autocomplete
                    v-model="currentProvince"
                    label="Provincia"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="provinceFiltered"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    @change="filterDistrict"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs4>
                  <!-- District -->
                  <v-autocomplete
                    v-model="currentDistrict"
                    label="Distrito"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="districtFiltered"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <!-- location -->
                  <v-text-field
                    v-model="enterprise.location"
                    append-icon="mdi-map-marker"
                    :rules="[rules.required]"
                    label="Localidad"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <!-- Contact Name -->
                  <v-text-field
                    v-model="enterprise.contactName"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre de contacto"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs4>
                  <!-- phone -->
                  <v-text-field
                    v-model="enterprise.phone"
                    append-icon="mdi-cellphone"
                    label="Teléfono de la empresa"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <!-- Fax -->
                  <v-text-field
                    v-model="enterprise.fax"
                    append-icon="mdi-fax"
                    label="Fax de la empresa"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-select
                    :items="status"
                    :rules="[rules.required]"
                    v-model="enterprise.status"
                    label="Estado"
                    outlined
                    required
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <!-- People Types -->
                <v-autocomplete
                  v-model="enterprise.peopleTypes"
                  label="Seleccione los roles que posee"
                  append-icon="mdi-shield-key-outline"
                  :items="peopleTypes"
                  multiple
                  :item-text="(item) => { return item.name }"
                  :item-value="(item) => { return item.id }"
                  outlined
                  chips
                  required
                ></v-autocomplete>
              </v-layout>
            </v-container>
          </v-form>
          <v-btn
            color="info"
            @click="validateForm"
          >Guardar</v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      valid: true,
      origin: ['Nacional', 'Exterior', 'No domiciliado'],
      enterprise: {},
      status: ['Activo', 'Anulado'],
      docTypes: ['DNI', 'RUC', 'Carnet de extrangería'],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        confirm: value => value === this.people.password || 'Las contraseñas deben coincidir.',
        email: value => /.+@.+/.test(value) || 'El correo debe de ser válido',
      },
      peopleTypes: [],
      departments: [],
      provinces: [],
      districts: [],
      currentDepartment: null,
      currentProvince: null,
      currentDistrict: null,
      codeDepartment: null,
      codeProvince: null,
      codeDistrict: null,
    };
  },
  created() {
    this.getPeopleType();
    this.getDepartment();
    this.getProvince();
    this.getDistrict();
  },
  methods: {
    validateForm() {
      if (this.$refs.form.validate()) this.store();
    },
    getDepartment() {
      this.$http.get(`/department`)
        .then((res) => {
          this.departments = res.data.departments;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getProvince() {
      this.$http.get(`/province`)
        .then((res) => {
          this.provinces = res.data.provinces;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getDistrict() {
      this.$http.get(`/district`)
        .then((res) => {
          this.districts = res.data.districts;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPeopleType() {
      this.$http.get(`/people-types`)
        .then((res) => {
          this.peopleTypes = res.data.peopletypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    store() {
      this.codeDepartment = this.departments.find(department => department.id === this.currentDepartment).code;
      this.codeProvince = this.provinces.find(province => province.id === this.currentProvince).code;
      this.codeDistrict= this.districts.find(district => district.id === this.currentDistrict).code;
      this.enterprise.ubigeo = `${this.codeDepartment}${this.codeProvince}${this.codeDistrict}`;
      this.enterprise.department_id = this.currentDepartment;
      this.enterprise.province_id = this.currentProvince;
      this.enterprise.district_id = this.currentDistrict;

      this.$http.post('/enterprise', this.enterprise)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Empresa creada exitosamente');
          this.$router.push({ name: 'enterprise.list' });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    filterProvince() {
      return this.provinces.filter(province => province.department_id === this.currentDepartment);
    },
    filterDistrict() {
      return this.districts.filter(district => district.province_id === this.currentProvince);
    },
  },
  computed: {
    provinceFiltered() {
      return this.provinces.filter(province => province.department_id === this.currentDepartment);
    },
    districtFiltered() {
      return this.districts.filter(district => district.province_id === this.currentProvince);
    },
  },
};
</script>
