<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        :to="`/enterprise/create/`"
      >Crear empresa</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Empresas

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="enterprises"
            :search="search"
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
            :loading="loading"
            loading-text="Cargando..."
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/enterprise/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/enterprise/edit/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error" v-if="item.id > 2">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Añadir nueva empresa</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="addDialogEnterprise.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre de la empresa"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="saveNewEnterprise">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogEnterprise.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="editDialogEnterprise.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre de la empresa"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="editEnterprise">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogEnterprise.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogEnterprise.name}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se eliminen {{ this.total }} personas. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteEnterprise">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      loading: false,
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre de la empresa',
          value: 'name',
        },
        {
          text: 'Usuarios asignados',
          value: 'persons.length',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      enterprises: [],
      addDialogEnterprise: {},
      editDialogEnterprise: {},
      deleteDialogEnterprise: {},
      total: '',
    };
  },
  created() {
    this.getEnterprises();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogEnterprise = this.enterprises.find(enterprise => enterprise.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogEnterprise = this.enterprises.find(enterprise => enterprise.id === id);
      this.total = this.deleteDialogEnterprise.persons.length;
    },
    getEnterprises() {
      this.loading = true;
      this.$http.get('/enterprise')
        .then((res) => {
          this.enterprises = res.data.enterprises;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
    saveNewEnterprise() {
      this.$http.post('/enterprise', this.addDialogEnterprise)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Empresa creado exitosamente.');
          this.displayAddDialog = false;
          this.addDialogEnterprise = {};
          this.getEnterprises();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    editEnterprise() {
      this.$http.put(`/enterprise/${this.editDialogEnterprise.id}`, this.editDialogEnterprise)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Empresa editado exitosamente.');
          this.displayEditDialog = false;
          this.editDialogEnterprise = {};
          this.getEnterprises();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deleteEnterprise() {
      this.$http.delete(`/enterprise/${this.deleteDialogEnterprise.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Empresa eliminado exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogEnterprise = {};
          this.getEnterprises();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
