<template>
  <v-layout row wrap>
    <v-flex xs12 class="mx-3">
      <v-card v-if="enterprise">
        <v-card-title>
          {{this.enterprise.name}}

          <v-spacer></v-spacer>

          <div v-if="total === 0">0 personas registradas en esta empresa</div>
          <div v-else>{{ this.total }} personas registradas en esta empresa</div>

        </v-card-title>

        <v-divider></v-divider>
        <v-card-text v-if="total === 0">
          <v-alert
            dense
            outlined
            type="error"
          >
            No hay personas registradas en esta empresa.
          </v-alert>
        </v-card-text>
        <v-card-text v-else>

          <v-expansion-panels focusable>
            <v-expansion-panel
              v-for="people in enterprise.persons"
              :key="people.id"
            >
              <v-expansion-panel-header>
                {{ people.first_name }} {{ people.last_name }}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-layout wrap row class="pt-3">
                  <v-flex xs12>
                    <v-expansion-panel-content>
                      <v-list two-line>
                        <!-- Email -->
                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-email</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Correo electrónico</v-list-item-title>
                            <v-list-item-subtitle>{{ people.email }}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <!-- Phone -->
                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-cellphone-android</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Teléfono</v-list-item-title>
                            <v-list-item-subtitle>{{ people.phone }}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <!-- Address -->
                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-map-marker</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Dirección</v-list-item-title>
                            <v-list-item-subtitle>{{ people.address }}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                          <v-list-item-avatar>
                            <v-icon>mdi-account-tie</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>Roles</v-list-item-title>
                            <v-list-item-subtitle>
                              <v-chip
                                v-for="peopleType in people.people_types" :key="peopleType.id"
                                outlined
                                class="mt-3 mr-2"
                                color="primary"
                              >
                                {{peopleType.name}}
                              </v-chip>
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-flex>
                </v-layout>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>

        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'enterprise.list' }"
            color="info"
          >Ir al listado de empresas</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      enterprise: {},
      total: null,
    };
  },
  created() {
    this.find();
  },
  methods: {
    find() {
      this.$http.get(`/enterprise/${this.$route.params.id}`)
        .then((res) => {
          this.enterprise = res.data.enterprise;
          this.total = this.enterprise.persons.length;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
