<template>
  <v-layout row wrap class="mx-3">
    <v-flex xs12>
      <v-btn
        class="mb-3"
        @click="() => { $router.go(-1) }"
        color="info"
      >Regresar</v-btn>

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs12>
      <v-card>
        <v-card-title>
          Crear programación
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid grid-list-md>

              <v-layout row wrap>
                <v-flex xs4>
                  <!-- Enterprise -->
                  <v-autocomplete
                    v-model="currentEnterprise"
                    label="Seleccione la empresa"
                    :rules="[rules.required]"
                    append-icon="mdi-briefcase"
                    :items="enterprises"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    required
                    @change="filterConstructionC"
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs8>
                  <!-- Construction -->
                  <v-autocomplete
                    v-model="planification.construction_id"
                    @change="getConstructionData"
                    label="Seleccione la obra"
                    :rules="[rules.required]"
                    append-icon="mdi-office-building"
                    :items="filterConstruction"
                    :item-text="(item) => { return item.description }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              <v-layout row wrap>

                <v-flex xs6>
                  <v-text-field
                    v-model="address"
                    disabled
                    append-icon="mdi-map-marker"
                    label="Dirección"
                    outlined
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <!-- Protocol -->
                  <v-autocomplete
                    v-model="planification.protocol_id"
                    label="Seleccione el protocolo"
                    :rules="[rules.required]"
                    append-icon="mdi-file-document-outline"
                    :items="protocols"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
              <v-layout row wrap>

                <v-flex xs12>
                  <!-- Description -->
                  <v-textarea
                    v-model="planification.description"
                    :rules="[rules.required]"
                    append-icon="mdi-file-document-box-outline"
                    label="Descripción"
                    auto-grow
                    outlined
                    rows="3"
                    row-height="25"
                    required
                  ></v-textarea>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <!-- Type -->
                  <v-select
                    :items="type"
                    :rules="[rules.required]"
                    v-model="planification.type"
                    label="Estado"
                    outlined
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-autocomplete
                    v-model="supervisor"
                    @change="selectSupervisor($event)"
                    :items="supervisorFiltered"
                    :item-text="(item) => { return item.first_name + ' ' + item.last_name + ' - ' + item.role}"
                    :item-value="(item) => { return item.people_id }"
                    label="Seleccionar la supervisor a cargo"
                    outlined
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs3>
                  <!-- Start Date -->
                  <v-menu
                    v-model="start_date"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :rules="[rules.required]"
                        label="Fecha de inicio"
                        v-model="planification.start_date"
                        prepend-inner-icon="mdi-calendar"
                        v-on="on"
                        readonly
                        outlined
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="planification.start_date"
                      no-title @input="start_date = false"
                      :min="minDate()"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs3>
                  <v-menu
                    ref="menu"
                    v-model="start_hour"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="start_hour"
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="planification.start_hour"
                        label="Hora de inicio"
                        readonly
                        outlined
                        prepend-inner-icon="mdi-clock-outline"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="start_hour"
                      v-model="planification.start_hour"
                      full-width
                      @click:minute="$refs.menu.save(start_hour)"
                    ></v-time-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs3>

                  <!-- End Date -->
                  <v-menu
                    v-model="end_date"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :rules="[rules.required]"
                        label="Fecha de culminación"
                        v-model="planification.end_date"
                        prepend-inner-icon="mdi-calendar"
                        v-on="on"
                        readonly
                        outlined
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="planification.end_date"
                      no-title
                      @input="end_date = false"
                      :min="minDate()"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs3>
                  <v-menu
                    ref="menu"
                    v-model="end_hour"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="end_hour"
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="planification.end_hour"
                        label="Hora de culminación"
                        readonly
                        prepend-inner-icon="mdi-clock-outline"
                        outlined
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="end_hour"
                      v-model="planification.end_hour"
                      full-width
                      @click:minute="$refs.menu.save(end_hour)"
                    ></v-time-picker>
                  </v-menu>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <v-autocomplete
                    @change="selectPeopleType($event)"
                    :items="typeFiltered"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    label="Seleccionar el rol"
                    outlined
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs6>
                  <v-autocomplete
                    @change="selectPeople($event)"
                    :items="peoplesFiltered"
                    :item-text="(item) => { return item.first_name + ' ' + item.last_name }"
                    :item-value="(item) => { return item.id }"
                    label="Seleccionar la persona"
                    outlined
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12>
                  <v-list two-line>
                    <v-chip
                      v-for="(select, i) in selected"
                      :key="i"
                      class="ma-2"
                      color="primary"
                      outlined
                      close
                      @click:close="removeSeleted(i)"
                      @click="removeSeleted(i)"
                    >
                    <v-icon left>
                      mdi-account-circle
                    </v-icon>
                      {{select.peoples.first_name}} {{select.peoples.last_name}} - {{select.peopleTypes.name}}
                    </v-chip>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-container>

            <v-btn
            color="info"
            @click="validateForm"
          >Guardar</v-btn>
          </v-form>

        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment';
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      valid: true,
      planification: {
        selected: [],
      },
      constructions: [],
      type: ['Interno', 'Externo'],
      selected: [],
      protocols: [],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
      },
      date: new Date().toISOString().substr(0, 10),
      start_date: false,
      start_hour: false,
      end_date: false,
      end_hour: false,
      selectedType: null,
      selectedPeople: null,
      enterprises: [],
      currentEnterprise: null,
      address: null,
      peopleTypes: [],
      peoples: [],
      supervisor: [],
      min: null,
    };
  },
  created() {
    this.getPeople();
    this.getPeopleTypes();
    this.getProtocol();
    this.getEnterprise();
    this.getConstruction();
    this.minDate();
  },
  methods: {
    minDate() {
      this.min = moment().subtract(1, 'days').format();
      return this.min;
    },
    selectPeopleType(id) {
      this.selectedType = this.peopleTypes.find(type => type.id === id);
    },
    selectPeople(id) {
      this.selectedPeople = this.peoples.find(people => people.id === id);
      this.confirmSelected();
    },
    selectSupervisor(id) {
      const supervisor = this.supervisorFiltered.find(data => data.people_id === id);
      const selection = {};
      selection.peopleTypes = { id: supervisor.role_id, name: supervisor.role };
      selection.peoples = {
        id: supervisor.people_id,
        first_name: supervisor.first_name,
        last_name: supervisor.last_name,
      };
      selection.index = 1;
      this.planification.leader = supervisor.people_id;
      const newPeoples = this.selected.filter(select => select.index !== 1);
      newPeoples.push(selection);
      this.selected = newPeoples;
    },
    confirmSelected() {
      const selection = {};
      selection.peopleTypes = this.selectedType;
      selection.peoples = this.selectedPeople;
      selection.leader = 0;
      this.selected.push(selection);
    },
    removeSeleted(i) {
      this.selected.splice(i, 1);
    },
    validateForm() {
      if (this.$refs.form.validate()) this.store();
    },
    getProtocol() {
      this.$http.get(`/protocol`)
        .then((res) => {
          this.protocols = res.data.protocols;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getConstruction() {
      this.$http.get(`/construction`)
        .then((res) => {
          const allConstruction = res.data.constructions;
          this.constructions = allConstruction.filter(construction => construction.hasPlanification === 0);
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPeopleTypes() {
      this.$http.get(`/people-types`)
        .then((res) => {
          this.peopleTypes = res.data.peopletypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPeople() {
      this.$http.get(`/people`)
        .then((res) => {
          this.peoples = res.data.peoples;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getEnterprise() {
      this.$http.get(`/enterprise-construction`)
        .then((res) => {
          this.enterprises = res.data.enterprises;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getConstructionData(id) {
      const selectedConstruction = this.constructions.find(construction => construction.id === id);
      selectedConstruction.peoples.forEach((people) => {
        const peopleType = people.people_types.find(peopletype => peopletype.id === people.pivot.people_type_id);
        this.selected.push({
          peoples: people,
          peopleTypes: peopleType,
          index: people.pivot.leader === 1 ? 1 : 0,
        });
        if (people.pivot.leader === 1) {
          this.planification.leader = people.id;
        }
      });

      const aux = this.selected.find(peopleSupervisor => peopleSupervisor.peoples.pivot.leader === 1);
      this.supervisor = {
        people_id: aux.peoples.id,
        first_name: aux.peoples.first_name,
        last_name: aux.peoples.last_name,
        role: aux.peopleTypes.name,
        role_id: aux.peopleTypes.id,
      };
      this.planification.type = selectedConstruction.type;
      this.address = selectedConstruction.address;
    },
    store() {
      this.planification.selected = this.selected;

      this.$http.post('/planification', this.planification)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Planificación creada exitosamente');
          this.$router.push({ name: 'planification.show', params: { id: res.data.id } });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    filterConstructionC() {
      this.constructions.filter(c => c.enterprise_id === this.currentEnterprise);
      const peoplesAll = this.peoples;
      this.peoples = peoplesAll.filter(people => people.enterprise_id === 1
        || people.enterprise_id === 2 || people.enterprise.id === this.currentEnterprise);
      return this.constructions && this.peoples;
    },
  },
  computed: {
    supervisorFiltered() {
      const supervisors = [];
      const peoplePerEnterprise = this.peoples.filter(supervisor => supervisor.enterprise.id === 1
        || supervisor.enterprise.id === 2 || supervisor.enterprise.id === this.currentEnterprise);

      peoplePerEnterprise.forEach((people) => {
        const supervisor = people.people_types.find(peopleType => peopleType.isSupervisor === 1
          && peopleType.isInternal === 1);
        if (supervisor) {
          supervisors.push({
            people_id: people.id,
            first_name: people.first_name,
            last_name: people.last_name,
            role: supervisor.name,
            role_id: supervisor.id,
          });
        }
      });
      return supervisors;
    },
    filterConstruction() {
      return this.constructions.filter(c => c.enterprise_id === this.currentEnterprise);
    },
    peoplesFiltered() {
      if (!this.selectedType) return [];
      return this.peoples.filter((people) => {
        const belongsToType = people.people_types.find(type => type.id === this.selectedType.id);
        const noSelected = this.selected.find(select => select.peoples.id === people.id);
        return belongsToType && !noSelected;
      });
    },
    typeFiltered() {
      return this.peopleTypes.filter((peopleType) => {
        const noSelected = this.selected.find(select => select.peopleTypes.id === peopleType.id);
        return (!noSelected && peopleType.isInternal ===0);
      });
    },
  },
};
</script>
