<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3 mb-3">
      <v-btn
        color="info"
        :to="{ name: 'planification.create' }"
      >Crear programación</v-btn>
    </v-flex>
    <v-flex xs12 class="ml-3">
      <v-card>
        <v-card-title>
          Programación de supervisiones

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="planifications"
            :search="search"
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
            :loading="loading"
            loading-text="Cargando..."
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/planification/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/planification/edit/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar a esta programación?</v-card-title>
        <v-card-text>¿Estás seguro que desea eliminar esta programación? Esta acción no puede deshacerse.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deletePlanification">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      loading: false,
      displayDeleteDialog: false,
      deleteDialogPlanification: {},
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre de obra',
          value: 'construction.description',
        },
        {
          text: 'Protocolo',
          value: 'protocol.name',
        },
        {
          text: 'Descripción',
          value: 'description',
        },
        {
          text: 'Fecha inicio',
          value: 'start_at',
        },
        {
          text: 'Fecha fin',
          value: 'end_at',
        },
        {
          text: 'Estado',
          value: 'status',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      planifications: [],
    };
  },
  created() {
    this.getPlanifications();
  },
  methods: {
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogPlanification = this.planifications.find(planification => planification.id === id);
    },
    getPlanifications() {
      this.loading = true;
      this.$http.get('/planification')
        .then((res) => {
          this.planifications = res.data.planifications;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
    deletePlanification() {
      this.$http.delete(`/planification/${this.deleteDialogPlanification.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Planificación eliminada exitosamente');

          this.displayDeleteDialog = false;
          this.deleteDialogPlanification = {};
          this.getPlanifications();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
