<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3">
      <v-card v-if="planification">
        <v-card-title>
          Información de la programación

          <v-spacer></v-spacer>

          <v-btn
            @click="displayDeleteDialog = true"
            color="error"
          >
            Eliminar programación
          </v-btn>
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12>
              <v-list two-line>
                <!-- Construction -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-office-building</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Nombre de la obra</v-list-item-title>
                    <v-list-item-subtitle
                      v-if="planification.construction"
                    >{{ planification.construction.description }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Protocol -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-file-document-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Nombre del protocolo</v-list-item-title>
                    <v-list-item-subtitle
                      v-if="planification.protocol"
                    >{{ planification.protocol.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

              <!-- Description -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-account-card-details-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Descripción de la planificación</v-list-item-title>
                    <v-list-item-subtitle>{{ planification.description }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>

            <v-flex xs4>
              <!-- Start at -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-calendar</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Fecha de inicio</v-list-item-title>
                  <v-list-item-subtitle>{{ planification.start_at }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-flex>
            <v-flex xs4>
              <!-- End at -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-calendar</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Fecha de culminación</v-list-item-title>
                  <v-list-item-subtitle>{{ planification.end_at }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-flex>

            <v-flex xs4>
              <!-- Status -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon color="success" v-if="planification.status === 'Asignado'">mdi-check</v-icon>
                  <v-icon color="info" v-else-if="planification.status === 'En proceso'">mdi-clock</v-icon>
                  <v-icon color="warning" v-else>mdi-close</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Estado</v-list-item-title>
                  <v-list-item-subtitle>{{ planification.status }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12>
              <v-list>
              <div class="title ml-3">Participantes</div>
                <v-chip
                  v-for="(select, i) in selected" :key="i"
                  outlined
                  class="ma-2"
                  color="primary"
                >
                <v-icon
                  left
                >
                  mdi-account-circle
                </v-icon>
                  {{select.peoples.first_name}} {{select.peoples.last_name}} - {{select.peopleTypes.name}}
                </v-chip>
              </v-list>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'planification.list' }"
            color="info"
          >Ir al listado de planificaciones</v-btn>

          <v-btn
            :to="{ name: 'planification.edit', params: { id: planification.id } }"
            color="success"
          >Editar información</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar a esta planificación?</v-card-title>
        <v-card-text>Está acción no puede deshacerse</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deletePlanification">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      planification: {},
      selected: [],
      displayDeleteDialog: false,
    };
  },
  created() {
    this.find();
  },
  methods: {
    find() {
      this.$http.get(`/planification/${this.$route.params.id}`)
        .then((res) => {
          this.planification = res.data.planification;
          this.selected = res.data.participants;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deletePlanification() {
      this.$http.delete(`/planification/${this.planification.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Planificación eliminada exitosamente');
          this.$router.push({ name: 'planification.list' });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
