<template>
  <v-layout row wrap class="px-3">
    <v-flex xs12>
      <v-btn
        class="mb-3"
        @click="() => { $router.go(-1) }"
        color="info"
      >Regresar</v-btn>

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs12>
      <v-card>
        <v-card-title>Crear nueva persona de la APP</v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex xs4>
                  <!-- First Name -->
                  <v-text-field
                    v-model="people.first_name"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <!-- Last Name -->
                  <v-text-field
                    v-model="people.last_name"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Apellido"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <!-- Email -->
                  <v-text-field
                    v-model="people.email"
                    :rules="[rules.required, rules.email]"
                    type="email"
                    append-icon="mdi-email"
                    label="Correo electrónico"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs4>
                  <!-- Enterprise -->
                  <v-autocomplete
                    v-model="people.enterprise_id"
                    label="Seleccione la empresa"
                    :rules="[rules.required]"
                    append-icon="mdi-briefcase"
                    :items="enterprises"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs4>
                  <!-- Phone -->
                  <v-text-field
                    v-model="people.phone"
                    append-icon="mdi-cellphone-android"
                    :rules="[rules.required]"
                    label="Número de teléfono"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <!-- <v-flex xs4>
                  <v-text-field
                    v-model="people.rut"
                    :rules="[rules.required]"
                    append-icon="mdi-account-card-details"
                    label="RUC"
                    outlined
                    required
                  ></v-text-field>
                </v-flex> -->
                <v-flex xs4>
                  <!-- Birthdate -->
                  <v-menu
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        label="Fecha de nacimiento"
                        v-model="people.birthdate"
                        prepend-inner-icon="mdi-calendar"
                        v-on="on"
                        readonly
                        outlined
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="people.birthdate" no-title @input="menu1 = false"></v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs4>
                  <!-- User Type -->
                  <v-select
                    :items="userType"
                    :rules="[rules.required]"
                    v-model="people.userType"
                    append-icon="mdi-account-tie"
                    label="Tipo de acceso"
                    outlined
                  ></v-select>
                </v-flex>

                <v-flex xs4>
                  <!-- Type -->
                  <v-select
                    :items="types"
                    :rules="[rules.required]"
                    v-model="people.type"
                    append-icon="mdi-account-tie"
                    label="Tipo de usuario"
                    outlined
                  ></v-select>
                </v-flex>

                <v-flex xs4>
                  <!-- Status -->
                  <v-select
                    :items="status"
                    :rules="[rules.required]"
                    v-model="people.status"
                    label="Estado"
                    outlined
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-divider></v-divider>

              <v-layout row wrap>
                <v-flex xs12 class="mt-2">
                  <!-- Address -->
                  <v-text-field
                    v-model="people.address"
                    append-icon="mdi-map-marker"
                    label="Dirección"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 class="mt-2">
                  <!-- People Types -->
                  <v-autocomplete
                    v-model="people.peopleTypes"
                    label="Seleccione los roles que posee"
                    append-icon="mdi-shield-key-outline"
                    :items="peopleTypes"
                    multiple
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    chips
                    required
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              <v-divider></v-divider>

              <v-layout row wrap grid-list-md class="mt-2">
                <v-flex xs6>
                  <!-- Password -->
                  <v-text-field
                    v-model="people.password"
                    :rules="[rules.required]"
                    type="password"
                    append-icon="mdi-lock-open"
                    label="Contraseña"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <!-- Confirm Password -->
                  <v-text-field
                    v-model="passwordConfirm"
                    :rules="[rules.confirm, rules.required]"
                    type="password"
                    append-icon="mdi-lock-open"
                    label="Confirmar contraseña"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
          <v-btn
            color="info"
            @click="validateForm"
          >Guardar</v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      valid: true,
      types: ['Externo', 'Interno'],
      people: {},
      status: ['Confirmado', 'Pendiente'],
      userType: ['Web', 'Móvil', 'Ninguno'],
      enterprises: [],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        confirm: value => value === this.people.password || 'Las contraseñas deben coincidir.',
        email: value => /.+@.+/.test(value) || 'El correo debe de ser válido',
      },
      passwordConfirm: '',
      peopleTypes: [],
      date: new Date().toISOString().substr(0, 10),
      menu1: false,
    };
  },
  created() {
    this.getEnterprise();
    this.getPeopleType();
  },
  methods: {
    validateForm() {
      if (this.$refs.form.validate()) this.store();
    },
    getEnterprise() {
      this.$http.get(`/enterprise`)
        .then((res) => {
          this.enterprises = res.data.enterprises;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPeopleType() {
      this.$http.get(`/people-types`)
        .then((res) => {
          this.peopleTypes = res.data.peopletypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    store() {
      this.$http.post('/people', this.people)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Usuario creado exitosamente');
          this.$router.push({ name: 'people.show', params: { id: res.data.id } });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
