<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3 mb-3">
      <v-btn
        color="info"
        :to="{ name: 'people.create' }"
      >Crear usuario</v-btn>
    </v-flex>
    <v-flex xs12 class="ml-3">
      <v-card>
        <v-card-title>
          Usuarios

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="peoples"
            :search="search"
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
            :loading="loading"
            loading-text="Cargando..."
          >
            <template v-slot:item.action="{ item }">
              <v-tooltip bottom color="info" v-if="item.status !== 'Confirmado'">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="confirmUser(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-account-check-outline</v-icon>
                  </v-btn>
                </template>
                <span>Confirmar</span>
              </v-tooltip>

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/people/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/people/edit/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-overlay :value="confirm">

      <v-flex xs12 class="py-5">
        <v-progress-circular indeterminate size="64"></v-progress-circular>

      </v-flex>
      Confirmando
    </v-overlay>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar a este usuario de la app?</v-card-title>
        <v-card-text>Esta acción no puede deshacerse</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deletePeople">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      confirm: false,
      search: '',
      loading: false,
      displayDeleteDialog: false,
      deleteDialogPeople: {},
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre',
          value: 'first_name',
        },
        {
          text: 'Apellido',
          value: 'last_name',
        },
        {
          text: 'Correo electrónico',
          value: 'email',
        },
        {
          text: 'Empresa',
          value: 'enterprise.name',
        },
        {
          text: 'Tipo acceso',
          value: 'user.type',
        },
        {
          text: 'Estado',
          value: 'status',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      peoples: [],
    };
  },
  created() {
    this.getPeoples();
  },
  methods: {
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogPeople = this.peoples.find(people => people.id === id);
    },
    getPeoples() {
      this.loading = true;
      this.$http.get('/people')
        .then((res) => {
          this.peoples = res.data.peoples;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
    deletePeople() {
      this.$http.delete(`/people/${this.deleteDialogPeople.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Usuario eliminado exitosamente');

          this.displayDeleteDialog = false;
          this.deleteDialogPeople = {};
          this.getPeoples();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    confirmUser(id) {
      this.confirm = true;
      this.$http.get(`/people/confirm/${id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Usuario confirmado exitosamente');
          this.getPeoples();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        })
        .finally((res) => {
          this.confirm = false;
        });
    },
  },
};
</script>
