<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3">
      <v-card v-if="people">
        <v-card-title>
          Información del usuario

          <v-spacer></v-spacer>

          <v-btn
              @click="displayDeleteDialog = true"
              color="error"
            >Eliminar usuario</v-btn>
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-layout row wrap>
            <v-flex xs6>
              <v-list two-line xs6>
                <!-- First name & Last name -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-account</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Nombre completo</v-list-item-title>
                    <v-list-item-subtitle>{{ people.first_name }} {{ people.last_name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Email -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-email</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Correo electrónico</v-list-item-title>
                    <v-list-item-subtitle>{{ people.email }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Enterprise -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-briefcase</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Empresa</v-list-item-title>
                    <v-list-item-subtitle>{{ enterprise.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Phone -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-cellphone-android</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Teléfono</v-list-item-title>
                    <v-list-item-subtitle>{{ people.phone }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- RUC -->
                <!-- <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-account-card-details</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>RUC</v-list-item-title>
                    <v-list-item-subtitle>{{ people.rut }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item> -->

                <!-- RUC -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-account-key-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Tipo de acceso</v-list-item-title>
                    <v-list-item-subtitle>{{ people.user.type }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>

            <v-flex xs6>
              <v-list two-line>
                <!-- Address -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-map-marker</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Dirección</v-list-item-title>
                    <v-list-item-subtitle>{{ people.address }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Birthdate -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-calendar</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Fecha de nacimiento</v-list-item-title>
                    <v-list-item-subtitle>{{ people.birthdate }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Type -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-account-tie</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Tipo de usuario</v-list-item-title>
                    <v-list-item-subtitle>{{ people.type }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Status -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon color="success" v-if="people.status === 'Confirmado'">mdi-check</v-icon>
                    <v-icon color="info" v-else>mdi-progress-clock</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Estado</v-list-item-title>
                    <v-list-item-subtitle>{{ people.status }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>
          </v-layout>

          <v-divider></v-divider>

          <v-layout wrap row>
             <v-flex xs12>
              <v-list two-line>
                <!-- People Types -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-shield-key-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Roles</v-list-item-title>
                    <v-list-item-subtitle>
                      {{ types }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'people.list' }"
            color="info"
          >Ir al listado de usuarios de la app</v-btn>

          <v-btn
            :to="{ name: 'people.edit', params: { id: people.id } }"
            color="success"
          >Editar información</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar a este usuario?</v-card-title>
        <v-card-text>Está acción no puede deshacerse</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deletePeople">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      people: {
        user: {
          type: '',
        },
      },
      enterprise: {},
      displayDeleteDialog: false,
      types: '',
    };
  },
  created() {
    this.find();
  },
  methods: {
    find() {
      this.$http.get(`/people/${this.$route.params.id}`)
        .then((res) => {
          const { people, enterprise, peopleTypes } = res.data;
          this.people = people;
          this.enterprise = enterprise;
          this.types = `${peopleTypes.map(type => type.name).join(', ')}.`;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deletePeople() {
      this.$http.delete(`/people/${this.people.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Usuario eliminado exitosamente');
          this.$router.push({ name: 'people.list' });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
