<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear departamento</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Departamentos

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="departments"
            :search="search"
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/department/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Añadir nuevo departamento</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    :rules="[rules.required]"
                    v-model="addDialogDepartment.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del departamento"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Code -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    v-model="addDialogDepartment.code"
                    append-icon="mdi-account-box-outline"
                    label="Código"
                    :counter="2"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateSaveDepartment">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogDepartment.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="editDialogDepartment.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del departamento"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Code -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    v-model="editDialogDepartment.code"
                    append-icon="mdi-account-box-outline"
                    :counter="2"
                    label="Código"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateEditDepartment">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogDepartment.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogDepartment.name}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se eliminen {{ this.total }} provincias. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteDepartment">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre del departamento',
          value: 'name',
        },
        {
          text: 'Cantidad de provincias ligada',
          value: 'provinces.length',
        },
        {
          text: 'Código',
          value: 'code',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      departments: [],
      addDialogDepartment: {},
      editDialogDepartment: {},
      deleteDialogDepartment: {},
      total: '',
      valid: true,
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        charlength: value => value.length <= 2 || 'El código es de 2 caracteres.',
      },
    };
  },
  created() {
    this.getDepartment();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogDepartment = this.departments.find(department => department.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogDepartment = this.departments.find(department => department.id === id);
      this.total = this.deleteDialogDepartment.provinces.length;
    },
    getDepartment() {
      this.$http.get('/department')
        .then((res) => {
          this.departments = res.data.departments;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveDepartment() {
      this.$http.post('/department', this.addDialogDepartment)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Departamento creado exitosamente.');
          this.displayAddDialog = false;
          this.addDialogDepartment = {};
          this.getDepartment();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateSaveDepartment() {
      if (this.$refs.form.validate()) this.saveDepartment();
    },
    editDepartment() {
      this.$http.put(`/department/${this.editDialogDepartment.id}`, this.editDialogDepartment)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Departamento editado exitosamente.');
          this.displayEditDialog = false;
          this.editDialogDepartment = {};
          this.getDepartment();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateEditDepartment() {
      if (this.$refs.form.validate()) this.editDepartment();
    },
    deleteDepartment() {
      this.$http.delete(`/department/${this.deleteDialogDepartment.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Departamento eliminado exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogDepartment = {};
          this.getDepartment();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
