<template>
  <v-layout row wrap>
    <v-flex xs12 class="mx-3">
      <v-card v-if="department">
        <v-card-title>
          {{ department.name }}

          <v-spacer></v-spacer>

        </v-card-title>

        <v-divider></v-divider>
        <v-card-text v-if="department.provinces">

          <v-expansion-panels focusable>
            <v-expansion-panel
              v-for="(province, i) in department.provinces"
              :key="i"
            >
              <v-expansion-panel-header>
                {{ province.name }}

                ({{ province.districts.length }})

              </v-expansion-panel-header>
              <v-expansion-panel-content >
                <v-layout wrap row class="pt-3">
                  <v-flex xs12>
                    <v-expansion-panel-content
                      v-if="department.provinces[i].districts"
                    >

                      <v-layout row wrap>
                        <v-flex xs3
                          v-for="district in department.provinces[i].districts"
                          :key="district.id"
                        >
                          <v-list-item two-line>
                            <v-list-item-content>
                              <v-list-item-title>{{ district.name }}</v-list-item-title>
                              <v-list-item-subtitle>
                                {{department.code}}{{province.code}}{{district.code}}
                              </v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
                        </v-flex>
                      </v-layout>

                    </v-expansion-panel-content>
                  </v-flex>
                </v-layout>
              </v-expansion-panel-content>

            </v-expansion-panel>
          </v-expansion-panels>

        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'inspection.list' }"
            color="info"
          >Ir al listado de inspecciones</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      department: {},
    };
  },
  created() {
    this.find();
  },
  methods: {
    find() {
      this.$http.get(`/department/${this.$route.params.id}`)
        .then((res) => {
          this.department = res.data.department;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
