<template>
  <v-layout row wrap class="mx-3">
    <v-flex xs12>
      <v-btn
        class="mb-3"
        @click="() => { $router.go(-1) }"
        color="info"
      >Regresar</v-btn>

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs12>
      <v-card>
        <v-card-title>
          Editar evaluación
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex xs12>
                  <!-- Description -->
                  <v-text-field
                    v-model="evaluation.description"
                    :rules="[rules.required]"
                    append-icon="mdi-file-document-box-outline"
                    label="Descripción"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <v-autocomplete
                    :items="protocols"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    v-model="currentProtocol"
                    label="Protocolo"
                    outlined
                    @change="filterObservationC"
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs6>
                  <v-autocomplete
                    :items="observationTypes"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    v-model="currentObservationType"
                    label="Tipo de observación"
                    outlined
                    @change="filterObservationC"
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <!-- Observations -->
                  <v-autocomplete
                    :items="filterObservation"
                    :item-text="(item) => { return item.description }"
                    :item-value="(item) => { return item.id }"
                    :rules="[rules.required]"
                    v-model="evaluation.observation_id"
                    append-icon="mdi-file-document-edit-outline"
                    label="Observación"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs6>
                  <!-- Short Description -->
                  <v-text-field
                    v-model="evaluation.short_description"
                    :counter="50"
                    :rules="[rules.required, rules.charlength]"
                    append-icon="mdi-file-document-box-outline"
                    label="Descripción corta"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <!-- Percentage -->
                  <v-text-field
                    v-model="evaluation.percentage"
                    :rules="[rules.required]"
                    append-icon="mdi-percent"
                    label="Peso"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    :items="status"
                    :rules="[rules.required]"
                    v-model="evaluation.status"
                    label="Estado"
                    outlined
                    required
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs1>
                  <v-icon left>
                    mdi-cursor-pointer
                  </v-icon>
                </v-flex>

                <v-flex xs3>
                  <div class="title text-center">Opciones</div>
                </v-flex>

                <v-flex xs12 v-if="evaluation.options">

                  <template v-for="option in options">
                    <v-layout wrap :key="option.id">
                      <v-flex xs1>
                        <v-checkbox
                          v-model="evaluation.defaultOption"
                          :value="option.id"
                          @change="checkDefaultOption($event)"
                        ></v-checkbox>
                      </v-flex>

                      <v-flex xs10>
                        <v-checkbox
                          @change="handleCheckedOption($event)"
                          v-model="evaluation.options"
                          :value="option.id"
                          :label="option.description"
                          multiple
                        ></v-checkbox>
                      </v-flex>

                      <v-flex xs1>
                        <v-text-field
                          label="Peso"
                          v-model="evaluation.percentagePerOption[option.id]"
                          :disabled="checkIfInputEnabled(option.id)"
                          :readonly="checkIfInputEnabled(option.id)"
                          type="number"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>

            <v-btn
            color="info"
            @click="validateForm"
          >Guardar</v-btn>
          </v-form>

        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      valid: true,
      enabled: false,
      currentProtocol: null,
      currentObservationType: null,
      observationTypes: [],
      protocols: [],
      options: {},
      observations: [],
      evaluation: {},
      percents: {},
      status: ['Activo', 'Inactivo'],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        charlength: value => value.length <= 50 || 'La descripción corta debe tener menos de 50 carácteres',
      },
    };
  },
  created() {
    this.getOptions();
    this.getObservations();
    this.getProtocol();
    this.getObservationType();
    this.find();
  },
  computed: {
    filterObservation() {
      return this.observations.filter((observation) => {
        const cond1 = observation.protocol_id === this.currentProtocol;
        const cond2 = observation.observation_type_id === this.currentObservationType;
        return cond1 && cond2;
      });
    },
  },
  methods: {
    find() {
      this.$http.get(`/evaluation/${this.$route.params.id}`)
        .then((res) => {
          this.evaluation = res.data.evaluation;
          this.evaluation.defaultOption = res.data.defaultOption;
          this.evaluation.options = res.data.options;
          this.currentProtocol = res.data.evaluation.observation.protocol_id;
          this.currentObservationType = res.data.evaluation.observation.observation_type_id;

          const percentageObject = {};
          res.data.percentagePerOption.forEach((elemento) => {
            const key = Object.keys(elemento).shift();
            const value = Object.values(elemento).shift();
            percentageObject[key] = value;
          });
          this.evaluation.percentagePerOption = percentageObject;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    filterObservationC() {
      return this.observations.filter((observation) => {
        const cond1 = observation.protocol_id === this.currentProtocol;
        const cond2 = observation.observation_type_id === this.currentObservationType;
        return cond1 && cond2;
      });
    },
    getProtocol() {
      this.$http.get(`/protocol`)
        .then((res) => {
          this.protocols = res.data.protocols;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getObservationType() {
      this.$http.get(`/observation-types`)
        .then((res) => {
          this.observationTypes = res.data.observationTypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateForm() {
      if (this.$refs.form.validate()) this.edit();
    },
    getOptions() {
      this.$http.get(`/option`)
        .then((res) => {
          this.options = res.data.options;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getObservations() {
      this.$http.get(`/observation`)
        .then((res) => {
          this.observations = res.data.observations;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    checkIfInputEnabled(id) {
      return this.evaluation.options.indexOf(id) === -1;
    },
    checkDefaultOption(event) {
      if (this.evaluation.defaulOption) {
        this.evaluation.options.push(this.evaluation.defaulOption);
      }
    },
    handleCheckedOption(event) {
      if (this.evaluation.percentagePerOption) {
        Object.keys(this.evaluation.percentagePerOption).forEach((key) => {
          this.evaluation.percentagePerOption[key] = event.includes(Number.parseInt(key))
            ? this.evaluation.percentagePerOption[key] : null;
        });
        if (!this.evaluation.options) {
          this.evaluation.defaulOption = null;
        }
      }
    },
    edit() {
      this.$http.patch(`/evaluation/${this.evaluation.id}`, this.evaluation)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Evaluación editada exitosamente');
          this.$router.push({ name: 'evaluation.show', params: { id: res.data.id } });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
