<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3 mb-3">
      <v-btn
        color="info"
        :to="{ name: 'evaluation.create' }"
      >Crear evaluación</v-btn>
    </v-flex>
    <v-flex xs12 class="ml-3">
      <v-card>
        <v-card-title>
          Evaluaciones

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="evaluations"
            :search="search"
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/evaluation/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/evaluation/edit/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                    @click="toggleDeleteDialog(item.id)"
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar a esta evaluación?</v-card-title>
        <v-card-text>¿Estás seguro que desea eliminar esta evaluación? Esta acción no puede deshacerse.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteEvaluation">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      displayDeleteDialog: false,
      deleteDialogEvaluation: {},
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Observación',
          value: 'observation.short_description',
        },
        {
          text: 'Descripción',
          value: 'short_description',
        },
        {
          text: 'Estado',
          value: 'status',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      evaluations: [],
    };
  },
  created() {
    this.getEvaluations();
  },
  methods: {
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogEvaluation = this.evaluations.find(evaluation => evaluation.id === id);
    },
    getEvaluations() {
      this.$http.get('/evaluation')
        .then((res) => {
          this.evaluations = res.data.evaluations;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deleteEvaluation() {
      this.$http.delete(`/evaluation/${this.deleteDialogEvaluation.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Evaluación eliminada exitosamente');

          this.displayDeleteDialog = false;
          this.deleteDialogEvaluation = {};
          this.getEvaluations();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
