<template>
  <v-layout row wrap>
    <v-flex xs12 class="mx-3">
      <v-card v-if="evaluation">
        <v-card-title>
          Información de la evaluación

          <v-spacer></v-spacer>

          <v-btn
              @click="displayDeleteDialog = true"
              color="error"
            >Eliminar evaluación</v-btn>
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12>
              <v-list two-line>
                 <!-- Observation -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-file-eye-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Observación</v-list-item-title>
                    <v-list-item-subtitle
                      v-if="evaluation.observation"
                    >{{ evaluation.observation.description }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Description -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-file-document-box-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Descripción</v-list-item-title>
                    <v-list-item-subtitle>{{ evaluation.description }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Short Description -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-file-document-box-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Descripción corta</v-list-item-title>
                    <v-list-item-subtitle>{{ evaluation.short_description }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs6>
              <v-list>
                <!-- Percentage -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-percent</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Porcentaje</v-list-item-title>
                    <v-list-item-subtitle>{{ evaluation.percentage }} %</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>

            <v-flex xs6>
              <v-list>
                <!-- Status -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon color="success" v-if="evaluation.status === 'Activo'">mdi-check</v-icon>
                    <v-icon color="info" v-else>mdi-close</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Estado</v-list-item-title>
                    <v-list-item-subtitle>{{ evaluation.status }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>
          </v-layout>

          <v-layout>
            <v-flex xs12>
              <v-list
                v-for="option in evaluation.options"
                :key="option.id"
              >
                <v-chip
                  outlined
                  class="ma-2"
                  color="primary"
                >
                <v-icon
                  v-if="option.pivot.defaultOption === 1"
                  left
                >mdi-check-circle-outline
                </v-icon>
                <v-icon
                  v-else
                  left
                >mdi-circle-outline
                </v-icon>
                  {{option.description}} - {{option.pivot.percentage}} %
                </v-chip>
              </v-list>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'evaluation.list' }"
            color="info"
          >Ir al listado de evaluaciones</v-btn>

          <v-btn
            :to="{ name: 'evaluation.edit', params: { id: evaluation.id } }"
            color="success"
          >Editar información</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar a esta evaluación?</v-card-title>
        <v-card-text>¿Estás seguro que desea eliminar esta evaluación? Esta acción no puede deshacerse.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteEvaluation">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      evaluation: {},
      displayDeleteDialog: false,
    };
  },
  created() {
    this.find();
  },
  methods: {
    find() {
      this.$http.get(`/evaluation/${this.$route.params.id}`)
        .then((res) => {
          this.evaluation = res.data.evaluation;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deleteEvaluation() {
      this.$http.delete(`/evaluation/${this.evaluation.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Evaluación eliminada exitosamente');
          this.$router.push({ name: 'evaluation.list' });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
