<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear provincia</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Provincias

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="provinces"
            :search="search"
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/department/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Añadir nueva provincia</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>

                <v-flex xs12>
                  <v-autocomplete
                    v-model="addDialogProvince.department_id"
                    label="Departamento"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="departments"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    required
                    outlined
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-text-field
                    :rules="[rules.required]"
                    v-model="addDialogProvince.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre de la provincia"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Code -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    v-model="addDialogProvince.code"
                    append-icon="mdi-account-box-outline"
                    label="Código"
                    :counter="2"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateSaveProvince">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogProvince.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>

                <v-flex xs12>
                  <v-autocomplete
                    v-model="editDialogProvince.department_id"
                    label="Departamento"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="departments"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    required
                    outlined
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-text-field
                    v-model="editDialogProvince.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre de la provincia"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Code -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    v-model="editDialogProvince.code"
                    append-icon="mdi-account-box-outline"
                    :counter="2"
                    label="Código"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateEditProvince">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogProvince.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogProvince.name}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se eliminen {{ this.total }} distritos. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteProvince">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Departamento',
          value: 'department.name',
        },
        {
          text: 'Nombre de la provincia',
          value: 'name',
        },
        {
          text: 'Cantidad de distritos ligado',
          value: 'districts.length',
        },
        {
          text: 'Código',
          value: 'code',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      provinces: [],
      departments: [],
      addDialogProvince: {},
      editDialogProvince: {},
      deleteDialogProvince: {},
      total: '',
      valid: true,
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        charlength: value => value.length <= 2 || 'El código es de 2 caracteres.',
      },
    };
  },
  created() {
    this.getProvince();
    this.getDepartment();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogProvince = this.provinces.find(province => province.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogProvince = this.provinces.find(province => province.id === id);
      this.total = this.deleteDialogProvince.districts.length;
    },
    getProvince() {
      this.$http.get('/province')
        .then((res) => {
          this.provinces = res.data.provinces;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getDepartment() {
      this.$http.get('/department')
        .then((res) => {
          this.departments = res.data.departments;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveProvince() {
      this.$http.post('/province', this.addDialogProvince)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Provincia creada exitosamente.');
          this.displayAddDialog = false;
          this.addDialogProvince = {};
          this.getProvince();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateSaveProvince() {
      if (this.$refs.form.validate()) this.saveProvince();
    },
    editProvince() {
      this.$http.put(`/province/${this.editDialogProvince.id}`, this.editDialogProvince)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Provincia editada exitosamente.');
          this.displayEditDialog = false;
          this.editDialogProvince = {};
          this.getProvince();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateEditProvince() {
      if (this.$refs.form.validate()) this.editProvince();
    },
    deleteProvince() {
      this.$http.delete(`/province/${this.deleteDialogProvince.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Provincia eliminada exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogProvince = {};
          this.getProvince();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
