<template>
  <v-layout row wrap class="mx-3">
    <v-flex xs12>
      <v-btn
        class="mb-3"
        @click="() => { $router.go(-1) }"
        color="info"
      >Regresar</v-btn>

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs12>
      <v-card>
        <v-card-title>
          Editar obra
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex xs4>
                  <!-- Enterprise -->
                  <v-autocomplete
                    v-model="baseFields.enterprise_id"
                    label="Seleccione la empresa"
                    :rules="[rules.required]"
                    append-icon="mdi-briefcase"
                    :items="enterprises"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs4>
                  <!-- Description -->
                  <v-text-field
                    v-model="baseFields.description"
                    append-icon="mdi-account-card-details-outline"
                    :rules="[rules.required]"
                    label="Nombre de la obra"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <!-- Address -->
                  <v-text-field
                    v-model="baseFields.address"
                    append-icon="mdi-map-marker"
                    :rules="[rules.required]"
                    label="Dirección"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row wrap>

                <v-flex xs4>
                  <!-- Department -->
                  <v-autocomplete
                    v-model="currentDepartment"
                    label="Departamento"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="departments"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    @change="filterProvince"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs4>
                  <!-- Province -->
                  <v-autocomplete
                    v-model="currentProvince"
                    label="Provincia"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="provinceFiltered"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    @change="filterDistrict"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs4>
                  <!-- District -->
                  <v-autocomplete
                    v-model="currentDistrict"
                    label="Distrito"
                    :rules="[rules.required]"
                    append-icon="mdi-city"
                    :items="districtFiltered"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    outlined
                    required
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <!-- Type -->
                  <v-select
                    :items="type"
                    :rules="[rules.required]"
                    v-model="construction.type"
                    label="Estado"
                    outlined
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-autocomplete
                    v-model="supervisor"
                    @change="selectSupervisor($event)"
                    :items="supervisorFiltered"
                    :item-text="(item) => { return item.first_name + ' ' + item.last_name + ' - ' + item.role}"
                    :item-value="(item) => { return item.people_id }"
                    label="Seleccionar la supervisor a cargo"
                    outlined
                  ></v-autocomplete>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs4>
                  <!-- Start Date -->
                  <v-menu
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                    :rules="[rules.required]"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :rules="[rules.required]"
                        label="Fecha de inicio"
                        v-model="baseFields.start_date"
                        prepend-inner-icon="mdi-calendar"
                        v-on="on"
                        readonly
                        outlined
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="baseFields.start_date"
                      no-title
                      @input="menu1 = false"
                      :rules="[rules.required]"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs4>
                  <!-- End Date -->
                  <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :rules="[rules.required]"
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :rules="[rules.required]"
                        label="Fecha de finalización"
                        v-model="baseFields.end_date"
                        prepend-inner-icon="mdi-calendar"
                        v-on="on"
                        readonly
                        outlined
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="baseFields.end_date"
                      no-title
                      @input="menu2 = false"
                      :rules="[rules.required]"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs4>
                  <!-- Status -->
                  <v-select
                    :items="status"
                    :rules="[rules.required]"
                    v-model="baseFields.status"
                    label="Estado"
                    outlined
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs6>
                  <v-autocomplete
                    @change="selectPeopleType($event)"
                    :items="typeFiltered"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    label="Seleccionar el rol"
                    outlined
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs6>
                  <v-autocomplete
                    @change="selectPeople($event)"
                    :items="peoplesFiltered"
                    :item-text="(item) => { return item.first_name + ' ' + item.last_name }"
                    :item-value="(item) => { return item.id }"
                    label="Seleccionar la persona"
                    outlined
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12>
                  <v-list two-line>
                    <v-chip
                      v-for="(select, i) in selected"
                      :key="i"
                      class="ma-2"
                      color="primary"
                      outlined
                      close
                      @click:close="removeSeleted(i)"
                      @click="removeSeleted(i)"
                    >
                    <v-icon left>
                      mdi-account-circle
                    </v-icon>
                      {{select.peoples.first_name}} {{select.peoples.last_name}} - {{select.peopleTypes.name}}
                    </v-chip>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-container>

            <v-btn
            color="info"
            @click="validateForm"
          >Guardar</v-btn>
          </v-form>

        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      valid: true,
      construction: {
        latitude: -12.0431800,
        longitude: -77.0282400,
        zip_code: 15016,
        ubigeo: 150105,
        selected: [],
      },
      status: ['Confirmada', 'Pendiente'],
      type: ['Interno', 'Externo'],
      enterprises: [],
      departments: [],
      provinces: [],
      districts: [],
      peoples: [],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
      },
      baseFields: {
        selected: [],
      },
      date: new Date().toISOString().substr(0, 10),
      menu1: false,
      menu2: false,
      selected: [],
      currentDepartment: null,
      currentProvince: null,
      currentDistrict: null,
      selectedType: null,
      selectedPeople: null,
      peopleTypes: [],
      supervisor: [],
    };
  },
  created() {
    this.find();
    this.getEnterprise();
    this.getPeople();
    this.getPeopleTypes();
    this.getDepartment();
    this.getProvince();
    this.getDistrict();
  },
  methods: {
    selectPeopleType(id) {
      this.selectedType = this.peopleTypes.find(type => type.id === id);
    },
    selectPeople(id) {
      this.selectedPeople = this.peoples.find(people => people.id === id);
      this.confirmSelected();
    },
    selectSupervisor(id) {
      const supervisor = this.supervisorFiltered.find(data => data.people_id === id);
      const selection = {};
      selection.peopleTypes = { id: supervisor.role_id, name: supervisor.role };
      selection.peoples = {
        id: supervisor.people_id,
        first_name: supervisor.first_name,
        last_name: supervisor.last_name,
      };
      selection.index = 1;
      this.construction.leader = supervisor.people_id;
      const newPeoples = this.selected.filter(select => select.index !== 1);
      newPeoples.push(selection);
      this.selected = newPeoples;
    },
    confirmSelected() {
      const selection = {};
      selection.peopleTypes = this.selectedType;
      selection.peoples = this.selectedPeople;
      selection.leader = 0;
      this.selected.push(selection);
    },
    removeSeleted(i) {
      this.selected.splice(i, 1);
    },
    validateForm() {
      if (this.$refs.form.validate()) this.edit();
    },
    find() {
      this.$http.get(`/construction/${this.$route.params.id}`)
        .then((res) => {
          this.construction = res.data.construction;
          this.baseFields = this.construction;
          this.selected = res.data.selected;
          this.currentDepartment = res.data.construction.department_id;
          this.currentProvince = res.data.construction.province_id;
          this.currentDistrict = res.data.construction.district_id;

          const aux = res.data.selected.find(peopleSupervisor => peopleSupervisor.peoples.pivot.leader === 1);
          this.supervisor = {
            people_id: aux.peoples.id,
            first_name: aux.peoples.first_name,
            last_name: aux.peoples.last_name,
            role: aux.peopleTypes.name,
            role_id: aux.peopleTypes.id,
          };
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getEnterprise() {
      this.$http.get(`/enterprise-construction`)
        .then((res) => {
          this.enterprises = res.data.enterprises;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPeopleTypes() {
      this.$http.get(`/people-types`)
        .then((res) => {
          this.peopleTypes = res.data.peopletypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPeople() {
      this.$http.get(`/people`)
        .then((res) => {
          const peoplesAll = res.data.peoples;
          this.peoples = peoplesAll.filter(people => people.enterprise_id === 1
            || people.enterprise_id === 2 || people.enterprise.id === this.construction.enterprise_id);
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getDepartment() {
      this.$http.get(`/department`)
        .then((res) => {
          this.departments = res.data.departments;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getProvince() {
      this.$http.get(`/province`)
        .then((res) => {
          this.provinces = res.data.provinces;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getDistrict() {
      this.$http.get(`/district`)
        .then((res) => {
          this.districts = res.data.districts;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    edit() {
      this.construction.selected = this.selected;

      let departmentName = {};
      let provinceName = {};
      let districtName = {};

      departmentName = this.departments.find(department => department.id === this.currentDepartment);
      this.construction.department_id = departmentName.id;

      provinceName = this.provinces.find(province => province.id === this.currentProvince);
      this.construction.province_id = provinceName.id;

      districtName = this.districts.find(district => district.id === this.currentDistrict);
      this.construction.district_id = districtName.id;

      this.construction.ubigeo = departmentName.code + provinceName.code + districtName.code;

      this.$http.patch(`/construction/${this.construction.id}`, this.baseFields)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Obra editada exitosamente');
          this.$router.push({ name: 'construction.show', params: { id: res.data.id } });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    filterProvince() {
      return this.provinces.filter(province => province.department_id === this.currentDepartment);
    },
    filterDistrict() {
      return this.districts.filter(district => district.province_id === this.currentProvince);
    },
  },
  computed: {
    supervisorFiltered() {
      const supervisors = [];
      const peoplePerEnterprise = this.peoples.filter(supervisor => supervisor.enterprise.id === 1
        || supervisor.enterprise.id === 2 || supervisor.enterprise.id === this.construction.enterprise_id);


      peoplePerEnterprise.forEach((people) => {
        const supervisor = people.people_types.find(peopleType => peopleType.isSupervisor === 1
          || peopleType.isInternal === 1);
        if (supervisor) {
          supervisors.push({
            people_id: people.id,
            first_name: people.first_name,
            last_name: people.last_name,
            role: supervisor.name,
            role_id: supervisor.id,
          });
        }
      });
      return supervisors;
    },
    provinceFiltered() {
      return this.provinces.filter(province => province.department_id === this.currentDepartment);
    },
    districtFiltered() {
      return this.districts.filter(district => district.province_id === this.currentProvince);
    },
    peoplesFiltered() {
      if (!this.selectedType) return [];
      return this.peoples.filter((people) => {
        const belongsToType = people.people_types.find(type => type.id === this.selectedType.id);
        const noSelected = this.selected.find(select => select.peoples.id === people.id);
        return belongsToType && !noSelected;
      });
    },
    typeFiltered() {
      return this.peopleTypes.filter((peopleType) => {
        const noSelected = this.selected.find(select => select.peopleTypes.id === peopleType.id);
        return (!noSelected && peopleType.isInternal === 0);
      });
    },
  },
};
</script>
