<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3 mb-3">
      <v-btn
        color="info"
        :to="{ name: 'construction.create' }"
      >Crear obra</v-btn>
    </v-flex>
    <v-flex xs12 class="ml-3">
      <v-card>
        <v-card-title>
          Obras

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="constructions"
            :search="search"
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
            :loading="loading"
            loading-text="Cargando..."
          >
            <template v-slot:item.action="{ item }">
              <v-tooltip bottom color="info"
                v-if="item.status !== 'Confirmada'"
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="confirmConstruction(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-account-check-outline</v-icon>
                  </v-btn>
                </template>
                <span>Confirmar</span>
              </v-tooltip>

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/construction/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success"
                v-if="item.status === 'Confirmada'"
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/construction/edit/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-overlay :value="confirm">

      <v-flex xs12 class="py-5">
        <v-progress-circular indeterminate size="64"></v-progress-circular>

      </v-flex>
      Confirmando
    </v-overlay>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar esta obra?</v-card-title>
        <v-card-text>Esta acción no puede deshacerse</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteConstruction">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      loading: false,
      confirm: false,
      search: '',
      displayDeleteDialog: false,
      deleteDialogConstruction: {},
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre de obra',
          value: 'description',
        },
        {
          text: 'Empresa',
          value: 'enterprise.name',
        },
        {
          text: 'Fecha inicio',
          value: 'start_date',
        },
        {
          text: 'Fecha finalización',
          value: 'end_date',
        },
        {
          text: 'Estado',
          value: 'status',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      constructions: [],
    };
  },
  created() {
    this.getConstruction();
  },
  methods: {
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogConstruction = this.constructions.find(construction => construction.id === id);
    },
    getConstruction() {
      this.loading = true;
      this.$http.get('/construction')
        .then((res) => {
          this.constructions = res.data.constructions;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
    deleteConstruction() {
      this.$http.delete(`/construction/${this.deleteDialogConstruction.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Usuario eliminado exitosamente');

          this.displayDeleteDialog = false;
          this.deleteDialogConstruction = {};
          this.getConstruction();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    confirmConstruction(id) {
      this.confirm = true;
      this.$http.get(`/construction/confirm/${id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Obra confirmada exitosamente');
          this.getConstruction();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        })
        .finally((res) => {
          this.confirm = false;
        });
    },
  },
};
</script>
