<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3">
      <v-card v-if="construction">
        <v-card-title>
          Información de la obra

          <v-spacer></v-spacer>

          <v-btn
            @click="displayDeleteDialog = true"
            color="error"
          >
            Eliminar obra
          </v-btn>
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-layout row wrap>
            <v-flex xs6>
              <v-list two-line>
                <!-- Enterprise -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-briefcase</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Nombre de la empresa</v-list-item-title>
                    <v-list-item-subtitle
                      v-if="construction.enterprise"
                    >{{ construction.enterprise.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Address -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-map-marker</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Dirección de la obra</v-list-item-title>
                    <v-list-item-subtitle>{{ construction.address }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Province -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-city</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content v-if="construction.province">
                    <v-list-item-title>Provincia</v-list-item-title>
                    <v-list-item-subtitle>{{ construction.province.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- ZIP CODE -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-map-marker-radius</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Código postal</v-list-item-title>
                    <v-list-item-subtitle>{{ construction.zip_code }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Start Date -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-calendar</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Fecha de inicio</v-list-item-title>
                    <v-list-item-subtitle>{{ construction.start_date }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>

            <v-list two-line>
              <!-- Description -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-account-card-details-outline</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Nombre de la obra</v-list-item-title>
                  <v-list-item-subtitle>{{ construction.description }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <!-- Department -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-city</v-icon>
                </v-list-item-avatar>

                <v-list-item-content v-if="construction.department">
                  <v-list-item-title>Departamento</v-list-item-title>
                  <v-list-item-subtitle>{{ construction.department.name }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <!-- District -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-city</v-icon>
                </v-list-item-avatar>

                <v-list-item-content v-if="construction.district">
                  <v-list-item-title>Distrito</v-list-item-title>
                  <v-list-item-subtitle>{{ construction.district.name }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <!-- Status -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon color="success" v-if="construction.status === 'Confirmada'">mdi-check</v-icon>
                  <v-icon color="info" v-else>mdi-progress-clock</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Estado</v-list-item-title>
                  <v-list-item-subtitle>{{ construction.status }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <!-- End Date -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-calendar</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Fecha de finalización</v-list-item-title>
                  <v-list-item-subtitle>{{ construction.end_date }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12>
              <v-list v-if="selected">
                <v-chip
                  v-for="(select, i) in selected" :key="i"
                  outlined
                  class="ma-2"
                  color="primary"
                >
                <v-icon
                  left
                >
                  mdi-account-circle
                </v-icon>
                  {{select.peoples.first_name}} {{select.peoples.last_name}} - {{select.peopleTypes.name}}
                </v-chip>
              </v-list>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'construction.list' }"
            color="info"
          >Ir al listado de las obras</v-btn>

          <v-btn
            v-if="construction.status === 'Confirmada'"
            :to="{ name: 'construction.edit', params: { id: construction.id } }"
            color="success"
          >Editar información</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-dialog v-model="displayDeleteDialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">¿Desea eliminar a esta obra?</v-card-title>
        <v-card-text>Está acción no puede deshacerse</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteConstruction">Si, eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      construction: {},
      selected: [],
      displayDeleteDialog: false,
    };
  },
  created() {
    this.find();
  },
  methods: {
    find() {
      this.$http.get(`/construction/${this.$route.params.id}`)
        .then((res) => {
          this.construction = res.data.construction;
          this.selected = res.data.selected;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', { text: err.message });
        });
    },
    deleteConstruction() {
      this.$http.delete(`/construction/${this.construction.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Obra eliminada exitosamente');
          this.$router.push({ name: 'construction.list' });
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', { text: err.message });
        });
    },
  },
};
</script>
