<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear observación</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Observaciones

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="observations"
            :search="search"
          >
            <template v-slot:item.action="{ item }">
              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="650">
      <v-card>
        <v-card-title class="headline">Añadir nueva observación</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <!-- Protocol -->
                  <v-select
                    :items="protocols"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    :rules="[rules.required]"
                    v-model="addDialogObservation.protocol_id"
                    append-icon="mdi-file-document-edit-outline"
                    label="Protocolo"
                    outlined
                    required
                  ></v-select>

                  <!-- Observation Types -->
                  <v-select
                    :items="observationTypes"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    :rules="[rules.required]"
                    v-model="addDialogObservation.observation_type_id"
                    append-icon="mdi-feature-search-outline"
                    label="Tipo de observación"
                    outlined
                    required
                  ></v-select>

                  <!-- Description -->
                   <v-textarea
                    :rules="[rules.required]"
                    v-model="addDialogObservation.description"
                    append-icon="mdi-account-box-outline"
                    label="Descripción de la observación"
                    auto-grow
                    outlined
                    required
                    rows="3"
                    row-height="25"
                  ></v-textarea>

                  <!-- Short Description -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    :counter="50"
                    v-model="addDialogObservation.short_description"
                    append-icon="mdi-account-box-outline"
                    label="Descripción corta de la observación"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateSave">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="650">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogObservation.short_description }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <!-- Protocol -->
                  <v-select
                    :rules="[rules.required]"
                    :items="protocols"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    v-model="editDialogObservation.protocol_id"
                    append-icon="mdi-file-document-edit-outline"
                    label="Protocolo"
                    outlined
                    required
                  ></v-select>

                  <!-- Observation Types -->
                  <v-select
                    :rules="[rules.required]"
                    :items="observationTypes"
                    :item-text="(item) => { return item.name }"
                    :item-value="(item) => { return item.id }"
                    v-model="editDialogObservation.observation_type_id"
                    append-icon="mdi-feature-search-outline"
                    label="Tipo de observación"
                    outlined
                    required
                  ></v-select>

                  <!-- Description -->
                   <v-textarea
                    :rules="[rules.required]"
                    v-model="editDialogObservation.description"
                    append-icon="mdi-account-box-outline"
                    label="Descripción de la observación"
                    auto-grow
                    outlined
                    required
                    rows="3"
                    row-height="25"
                  ></v-textarea>

                  <!-- Short Description -->
                  <v-text-field
                    :rules="[rules.required, rules.charlength]"
                    :counter="50"
                    v-model="editDialogObservation.short_description"
                    append-icon="mdi-account-box-outline"
                    label="Descripción corta de la observación"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateEdit">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogObservation.short_description }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar: {{this.deleteDialogObservation.description}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se eliminen {{ this.total }} evaluaciones. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteObservation">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Protocolo',
          value: 'protocol.name',
        },
        {
          text: 'Tipo observación',
          value: 'observation_type.name',
        },
        {
          text: 'Descripción observación',
          value: 'short_description',
        },
        {
          text: 'Cantidad evaluaciones',
          value: 'evaluations.length',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        charlength: value => value.length <= 50 || 'La descripción corta debe tener menos de 50 carácteres',
      },
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      observations: [],
      addDialogObservation: {},
      editDialogObservation: {},
      deleteDialogObservation: {},
      total: '',
      valid: true,
      protocols: {},
      observationTypes: {},
    };
  },
  created() {
    this.getObservation();
    this.getObservationType();
    this.getProtocol();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogObservation = this.observations.find(observation => observation.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogObservation = this.observations.find(observation => observation.id === id);
      this.total = this.deleteDialogObservation.evaluations.length;
    },
    getObservation() {
      this.$http.get('/observation')
        .then((res) => {
          this.observations = res.data.observations;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getObservationType() {
      this.$http.get('/observation-types')
        .then((res) => {
          this.observationTypes = res.data.observationTypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getProtocol() {
      this.$http.get('/protocol')
        .then((res) => {
          this.protocols = res.data.protocols;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveObservation() {
      this.$http.post('/observation', this.addDialogObservation)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Observación creada exitosamente.');
          this.displayAddDialog = false;
          this.addDialogObservation = {};
          this.getObservation();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateSave() {
      if (this.$refs.form.validate()) this.saveObservation();
    },
    editObservation() {
      this.$http.put(`/observation/${this.editDialogObservation.id}`, this.editDialogObservation)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Observación editada exitosamente.');
          this.displayEditDialog = false;
          this.editDialogObservation = {};
          this.getObservation();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    validateEdit() {
      if (this.$refs.form.validate()) this.editObservation();
    },
    deleteObservation() {
      this.$http.delete(`/observation/${this.deleteDialogObservation.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Observación eliminada exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogObservation = {};
          this.getObservation();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
