<template>
  <v-app-bar
    app
    clipped-left
    color="primary"
    dark
    flat
  >
    <v-app-bar-nav-icon
      @click="() => { this.$emit('toggle-drawer') }"
    ></v-app-bar-nav-icon>

    <img src="/img/logo-redondo.png" width="45px" height="45px">

    <v-toolbar-title class="ml-4">{{ title }} - Panel Administrativo</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-tooltip bottom color="info">
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          small
          text
          @click="toggleEditDialog(authUser.id)"
        >
          <v-icon
            v-on="on"
            small
          >mdi-key-variant</v-icon>
        </v-btn>
      </template>
      <span>Cambiar contraseña</span>
    </v-tooltip>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title>Cambiar contraseña</v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid>
              <v-flex xs12>
                <v-text-field
                  v-model="user.password"
                  type="password"
                  :rules="[rules.confirm]"
                  append-icon="mdi-lock-open"
                  label="Nueva contraseña"
                  outlined
                  required
                ></v-text-field>

                <v-text-field
                  v-model="passwordConfirm"
                  type="password"
                  :rules="[rules.confirm, rules.required]"
                  append-icon="mdi-lock"
                  label="Confirmar nueva contraseña"
                  outlined
                  required
                ></v-text-field>
              </v-flex>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="validateForm">Actualizar contraseña</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex";
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      title: '',
      valid: true,
      user: {},
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        confirm: value => value === this.user.password || 'Las contraseñas deben coincidir.',
      },
      displayEditDialog: false,
      passwordConfirm: '',
    };
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
      authUser: 'auth/authUser',
    }),
  },
  created() {
    this.title = document.title;
  },
  methods: {
    toggleEditDialog(id) {
      this.displayEditDialog = true;
    },
    validateForm() {
      if (this.$refs.form.validate()) this.changePassword();
    },
    changePassword() {
      this.$http.patch(`/user/${this.authUser.id}`, this.user)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Contraseña cambiada éxitosamente');
          this.displayEditDialog = false;
          this.password = '';
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.displayEditDialog = false;
          this.password = '';
        });
    },
  },
};
</script>
