<template>
  <v-navigation-drawer
    :value="toggle"
    app
    clipped
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="title">
          Panel Administrativo
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense nav>

      <v-list-group
        prepend-icon="mdi-account-group-outline"
        value="false"
        v-model="users"
      >
        <template v-slot:activator>
          <v-list-item-title>Usuarios</v-list-item-title>
        </template>

          <!-- People -->
          <v-list dense nav>
            <v-list-item
              link
              :to="{ name: 'people.list' }"
            >
              <v-list-item-icon>
                <v-icon>mdi-account-tie</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Usuarios</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <!-- Users -->
          <v-list dense nav>
            <v-list-item
              link
              :to="{ name: 'user.list' }"
            >
              <v-list-item-icon>
                <v-icon>mdi-account-key</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Contraseñas</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <!-- People Types -->
          <v-list dense nav>
            <v-list-item
              link
              :to="{ name: 'people-type.list' }"
            >
              <v-list-item-icon>
                <v-icon>mdi-briefcase-account-outline</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Roles</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <!-- Enterprises -->
          <v-list dense nav>
              <v-list-item
                link
                :to="{ name: 'enterprise.list' }"
              >
                <v-list-item-icon>
                  <v-icon>mdi-briefcase</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>Empresas</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
          </v-list>
      </v-list-group>

    </v-list>

    <!-- Constructions -->
    <v-list dense nav>
      <v-list-item
        link
        :to="{ name: 'construction.list' }"
      >
        <v-list-item-icon>
          <v-icon>mdi-office-building</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Obras</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list dense nav>
      <v-list-group
        prepend-icon="mdi-file-document-outline"
        value="false"
        v-model="protocol"
      >
        <template v-slot:activator>
          <v-list-item-title>Protocolo</v-list-item-title>
        </template>

        <!-- Protocols -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'protocol.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-file-document-edit-outline</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Listado de protocolos</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- Observation -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'observation.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-file-eye-outline</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Observaciones</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- Evaluations -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'evaluation.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-file-check</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Evaluaciones</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- Option -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'option.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-format-list-checks</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Opciones</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>


        <!-- Observation Types -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'observation-type.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-feature-search-outline</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Tipo de observaciones</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-list-group>
    </v-list>

    <v-list dense nav>
      <v-list-group
        prepend-icon="mdi-file-search-outline"
        value="false"
        v-model="inspection"
      >
        <template v-slot:activator>
          <v-list-item-title>Supervisión</v-list-item-title>
        </template>

        <!-- Planifications -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'planification.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-cogs</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Programación</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- Inspections -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'inspection.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-file-search-outline</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Inspecciones</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

      </v-list-group>
    </v-list>

    <v-list dense nav>
      <v-list-group
        prepend-icon="mdi-map-marker-radius"
        value="false"
        v-model="ubigeo"
      >
        <template v-slot:activator>
          <v-list-item-title>Ubigeo</v-list-item-title>
        </template>

        <!-- Departments -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'department.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-city</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Departamentos</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- Provinces -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'province.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-city</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Provincias</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- Districts -->
        <v-list dense nav>
          <v-list-item
            link
            :to="{ name: 'district.list' }"
          >
            <v-list-item-icon>
              <v-icon>mdi-city</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Distritos</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

      </v-list-group>
    </v-list>

    <template v-slot:append v-if="isLoggedIn">
      <div class="pa-2">
        <v-btn
          @click="logout"
          color="secondary"
          block
          outlined
        >Desconectarse</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      users: false,
      protocol: false,
      inspection: false,
      ubigeo: false,
    };
  },
  props: {
    toggle: Boolean,
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
      authUser: 'auth/authUser',
    }),
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
      this.$router.push({ name: 'login' });
    },
  },
};
</script>
