<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear tipo de observación</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Tipo de observaciones

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="observationTypes"
            :search="search"
          >
            <template v-slot:item.action="{ item }">
              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Añadir nuevo tipo de observación</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="addDialogObservationType.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del tipo de observación"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="saveObservationType">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogObservationType.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="editDialogObservationType.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del rol"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="editObservationType">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogObservationType.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogObservationType.name}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se eliminen {{ this.total }} observaciones. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteObservationType">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre del tipo de observación',
          value: 'name',
        },
        {
          text: 'Cantidad observaciones',
          value: 'observations.length',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      observationTypes: [],
      addDialogObservationType: {},
      editDialogObservationType: {},
      deleteDialogObservationType: {},
      total: '',
    };
  },
  created() {
    this.getObservationType();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogObservationType = this.observationTypes.find(observationType => observationType.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogObservationType = this.observationTypes.find(observationType => observationType.id === id);
      this.total = this.deleteDialogObservationType.observations.length;
    },
    getObservationType() {
      this.$http.get('/observation-types')
        .then((res) => {
          this.observationTypes = res.data.observationTypes;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveObservationType() {
      this.$http.post('/observation-types', this.addDialogObservationType)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Tipo de observación creado exitosamente.');
          this.displayAddDialog = false;
          this.addDialogObservationType = {};
          this.getObservationType();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    editObservationType() {
      this.$http.put(`/observation-types/${this.editDialogObservationType.id}`, this.editDialogObservationType)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Tipo de observación editado exitosamente.');
          this.displayEditDialog = false;
          this.editDialogObservationType = {};
          this.getObservationType();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deleteObservationType() {
      this.$http.delete(`/observation-types/${this.deleteDialogObservationType.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Tipo de observación eliminado exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogObservationType = {};
          this.getObservationType();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
