<template>
  <v-layout row wrap>
    <v-flex xs12 class="ml-3 mb-3">
    </v-flex>
    <v-flex xs12 class="ml-3">
      <v-card>
        <v-card-title>
          Inspecciones realizadas

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="inspections"
            :search="search"
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
            :loading="loading"
            loading-text="Cargando..."
          >
            <template v-slot:item.action="{ item }">

              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    :to="`/inspection/show/${item.id}`"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-eye</v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">¿Desea cambiar el estado de esta inspección?</v-card-title>
        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>

                  <!-- Status -->
                    <v-select
                      :items="status"
                      v-model="editDialogInspection.status"
                      label="Estado"
                      outlined
                    ></v-select>

                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="editInspection">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      loading: false,
      displayEditDialog: false,
      editDialogInspection: {},
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Planificación',
          value: 'planification.description',
        },
        {
          text: 'Nombre de la Obra',
          value: 'planification.construction.description',
        },
        {
          text: 'Peso total',
          value: 'total',
        },
        {
          text: 'Estado',
          value: 'status',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      inspections: [],
      status: ['En proceso', 'Terminado'],
    };
  },
  created() {
    this.getInspections();
  },
  methods: {
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogInspection = this.inspections.find(inspection => inspection.id === id);
    },
    getInspections() {
      this.loading = true;
      this.$http.get('/inspection')
        .then((res) => {
          this.inspections = res.data.inspections;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
    editInspection() {
      this.$http.patch(`/inspection/${this.editDialogInspection.id}`, this.editDialogInspection)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Inspección editado exitosamente');

          this.displayEditDialog = false;
          this.editDialogInspection = {};
          this.getInspections();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
