<template>
  <v-layout row wrap>

    <v-flex xs12 class="mx-3">
      <v-card v-if="planification">
        <v-card-title>
          Información de la programación de la obra
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12>
              <v-list two-line>
                <!-- Construction -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-office-building</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Nombre de la obra</v-list-item-title>
                    <v-list-item-subtitle
                      v-if="planification.construction"
                    >{{ planification.construction.description }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Planification ID -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-pound</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>ID programación</v-list-item-title>
                    <v-list-item-subtitle
                    >{{ planification.id }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Inspection ID -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-pound</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>ID inspección</v-list-item-title>
                    <v-list-item-subtitle
                    >{{ inspection.id }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <!-- Protocol -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-file-document-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Nombre del protocolo</v-list-item-title>
                    <v-list-item-subtitle
                      v-if="planification.protocol"
                    >{{ planification.protocol.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

              <!-- Description -->
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>mdi-account-card-details-outline</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Descripción de la planificación</v-list-item-title>
                    <v-list-item-subtitle>{{ planification.description }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-flex>

            <v-flex xs4>
              <!-- Start at -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-calendar</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Fecha de inicio</v-list-item-title>
                  <v-list-item-subtitle>{{ planification.start_at }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-flex>
            <v-flex xs4>
              <!-- End at -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon>mdi-calendar</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Fecha de culminación</v-list-item-title>
                  <v-list-item-subtitle>{{ planification.end_at }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-flex>

            <v-flex xs4>
              <!-- Status -->
              <v-list-item>
                <v-list-item-avatar>
                  <v-icon color="success" v-if="planification.status === 'Asignado'">mdi-check</v-icon>
                  <v-icon color="info" v-else-if="planification.status === 'En proceso'">mdi-clock</v-icon>
                  <v-icon color="warning" v-else>mdi-close</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>Estado</v-list-item-title>
                  <v-list-item-subtitle>{{ planification.status }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12>
              <v-list>
              <div class="title ml-3">Participantes</div>
                <v-chip
                  v-for="(select, i) in selected" :key="i"
                  outlined
                  class="ma-2"
                  color="primary"
                >
                <v-icon
                  left
                >
                  mdi-account-circle
                </v-icon>
                  {{select.peoples.first_name}} {{select.peoples.last_name}} - {{select.peopleTypes.name}}
                </v-chip>
              </v-list>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-flex xs12 class="mx-3 my-3">
      <v-card v-if="inspection.planification">
        <v-card-title>
          {{ inspection.planification.description }}

          <v-spacer></v-spacer>

        </v-card-title>

        <v-divider></v-divider>
        <v-card-text v-if="inspection.reports.length === 0">
          <v-alert
            dense
            outlined
            type="error"
          >
            No hay reportes disponible para esta inspección.
          </v-alert>
        </v-card-text>
        <v-card-text v-else>

          <v-expansion-panels focusable>
            <v-expansion-panel
              v-for="report in inspection.reports"
              :key="report.id"
            >
              <v-expansion-panel-header>{{ report.observation.description }}</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-layout wrap row class="pt-3">
                  <v-flex xs10>
                    <v-expansion-panel-content>
                      {{ report.evaluation.description }}
                    </v-expansion-panel-content>
                  </v-flex>
                </v-layout>
              </v-expansion-panel-content>

              <v-expansion-panel-content>
                 <v-chip
                    class="ma-2"
                    color="indigo darken-3"
                    outlined
                  >
                    <v-icon left>mdi-check-circle-outline</v-icon>
                    {{ report.option.description }}
                  </v-chip>
              </v-expansion-panel-content>

              <v-expansion-panel-content v-if="report.comment">
                 <span class="font-weight-bold">Comentarios: </span> {{report.comment}}
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>

        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :to="{ name: 'inspection.list' }"
            color="info"
          >Ir al listado de inspecciones</v-btn>

          <v-spacer></v-spacer>

          <v-btn
            @click="getPDF"
            color="info"
          >Generar PDF</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      inspection: {},
      planification: {},
      selected: [],
    };
  },
  created() {
    this.find();
    this.getPlanification();
  },
  methods: {
    find() {
      this.$http.get(`/inspection/${this.$route.params.id}`)
        .then((res) => {
          this.inspection = res.data.inspection;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPlanification() {
      this.$http.get(`/planification/${this.$route.params.id}`)
        .then((res) => {
          this.planification = res.data.planification;
          this.selected = res.data.participants;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    getPDF() {
      window.open(`/api/pdf/${this.$route.params.id}`, '_blank');
    },
  },
};
</script>
