<template>
  <v-layout row wrap>
    <v-flex xs12 class="mb-3 ml-3">
      <v-btn
        color="info"
        @click="toggleAddDialog()"
      >Crear protocolo</v-btn>
    </v-flex>

    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Protocolos

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="protocols"
            :search="search"
          >
            <template v-slot:item.action="{ item }">
              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleEditDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="error">
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    small
                    text
                    @click="toggleDeleteDialog(item.id)"
                  >
                    <v-icon
                      v-on="on"
                      small
                    >mdi-trash-can</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>

    <!-- Add Dialog -->
    <v-dialog v-model="displayAddDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Añadir nuevo protocolo</v-card-title>
          <v-divider></v-divider>

        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="addDialogProtocol.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del protocolo"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Status -->
                    <v-select
                      :items="status"
                      v-model="addDialogProtocol.status"
                      label="Estado"
                      outlined
                      required
                    ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayAddDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="saveProtocol">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Edit Dialog -->
    <v-dialog v-model="displayEditDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Editar {{ this.editDialogProtocol.name }}</v-card-title>
          <v-divider></v-divider>
        <v-card-text>

          <v-form>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    v-model="editDialogProtocol.name"
                    append-icon="mdi-account-box-outline"
                    label="Nombre del protocolo"
                    outlined
                    required
                  ></v-text-field>

                  <!-- Status -->
                    <v-select
                      :items="status"
                      v-model="editDialogProtocol.status"
                      label="Estado"
                      outlined
                      required
                    ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayEditDialog = false">Cancelar</v-btn>
          <v-btn color="success" text @click="editProtocol">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Dialog -->
    <v-dialog v-model="displayDeleteDialog" persistent max-width="350">
      <v-card>
        <v-card-title class="headline">Eliminar {{ this.deleteDialogProtocol.name }}</v-card-title>
          <v-divider></v-divider>

        <v-card-text>
          ¿Estás seguro de que desea eliminar {{this.deleteDialogProtocol.name}}?
        </v-card-text>
        <v-card-text>
          Esto causará que se eliminen {{ this.total }} observaciones. Esta acción no puede deshacerse.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="displayDeleteDialog = false">Cancelar</v-btn>
          <v-btn color="error" text @click="deleteProtocol">Si, Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import statuses from '@/js/statuses';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre del protocolo',
          value: 'name',
        },
        {
          text: 'Total observaciones',
          value: 'observations.length',
        },
        {
          text: 'Estado',
          value: 'status',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      displayAddDialog: false,
      displayEditDialog: false,
      displayDeleteDialog: false,
      protocols: [],
      addDialogProtocol: {},
      editDialogProtocol: {},
      deleteDialogProtocol: {},
      total: '',
      status: ['Activo', 'Inactivo'],
    };
  },
  created() {
    this.getProtocol();
  },
  methods: {
    toggleAddDialog() {
      this.displayAddDialog = true;
    },
    toggleEditDialog(id) {
      this.displayEditDialog = true;
      this.editDialogProtocol = this.protocols.find(protocol => protocol.id === id);
    },
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogProtocol = this.protocols.find(protocol => protocol.id === id);
      this.total = this.deleteDialogProtocol.observations.length;
    },
    getProtocol() {
      this.$http.get('/protocol')
        .then((res) => {
          this.protocols = res.data.protocols;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    saveProtocol() {
      this.$http.post('/protocol', this.addDialogProtocol)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Protocolo creado exitosamente.');
          this.displayAddDialog = false;
          this.addDialogProtocol = {};
          this.getProtocol();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    editProtocol() {
      this.$http.put(`/protocol/${this.editDialogProtocol.id}`, this.editDialogProtocol)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Protocolo editado exitosamente.');
          this.displayEditDialog = false;
          this.editDialogProtocol = {};
          this.getProtocol();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
    deleteProtocol() {
      this.$http.delete(`/protocol/${this.deleteDialogProtocol.id}`)
        .then((res) => {
          this.$store.dispatch('snackbar/success', 'Protocolo eliminado exitosamente.');
          this.displayDeleteDialog = false;
          this.deleteDialogProtocol = {};
          this.getProtocol();
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', '401: Existen planificaciones en curso.');
          this.displayDeleteDialog = false;
          this.deleteDialogProtocol = {};
        });
    },
  },
};
</script>
